*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    height: 100%;
}

body {
    background: -webkit-linear-gradient(185deg, #5eb4e5,#97cff0,#ffffff);
    background: linear-gradient(185deg, #5eb4e5,#97cff0,#ffffff);
    align-items: center;
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

button {
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
}